* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 400px;
  height: 400px;
  /* background: #f00; */
}

.container .thumb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.container .thumb li {
  list-style: none;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.25);
  margin: 10px 0;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .thumb li img {
  width: 90%;
  transition: 0.3s;
}

.container .thumb li:hover img {
  transform: rotate(-35deg);
}

.container .imgBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: yellow;
}

.container a {
  position: absolute;
  display: inline-block;
  bottom: -25px;
  padding: 15px 30px;
  background: #fff;
  border-radius: 4px;
}
