@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#2b1055, #7597de);
}
section {
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
section img#moon {
  mix-blend-mode: screen;
}
section img#stars {
  object-fit: cover;
  height: 100%;
}
section img#mountains_behind {
  bottom: 0;
  top: initial;
}
section img#mountains_front {
  bottom: 0;
  top: initial;
}
#text {
  position: absolute;
  color: #fff;
  font-size: 7vw;
  font-weight: 200;
  z-index: 100;
}
#text span {
  font-weight: 700;
}
#btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 90px;
  text-decoration: none;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 8px 50px;
  background: #fff;
  color: #2b1055;
  border-radius: 40px;
  font-size: 1.4em;
  z-index: 100;
}
